<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mars something</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>The Latest Info on Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Mars Info!</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h4 class="heading">{{listings.tweet}}</h4>
		<h4 class="heading">{{listings.nasa_text}}</h4>
		<h4 class="heading">{{listings.nasa_title}}</h4>
		<!--<h4 class="heading">{{listings.hem3}}</h4>
		<h4 class="heading">{{listings.hem4}}</h4>-->
        
      </div>
    </div>
	
	<div class="row">
	
		<div class="col-sm-6">


		<article>
		<a target="_blank" href="{{listings.jpl}}">
		<img src="{{listings.jpl}}" alt="jpl" width="100%">
		</a>
		<p><em>jpl</em></p>
		</article>

		</div>
		
		
		<div class="col-sm-6">

  <h2>Mars Data</h2>          
  <table class="table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Values</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>
  </table>
		
       
		</div>
    </div>
	
	
	<div class="row">
	
		<div class="col-sm-6">


		<article>
		<a target="_blank" href="{{listings.img_hem1}}">
		<img src="{{listings.img_hem1}}" alt="{{listings.hem1}}" width="100%">
		</a>
		<p><em>{{listings.hem1}}</em></p>
		</article>

		</div>
		
		
		<div class="col-sm-6">

		<article>
		<a target="_blank" href="{{listings.img_hem2}}">
		<img src="{{listings.img_hem2}}" alt="{{listings.hem2}}" width="100%">
		</a>
		<p><em>{{listings.hem2}}</em></p>
		</article>
       
		</div>
    </div>
	
	    <div class="row">
	
		<div class="col-sm-6">
	  
		<article>
		<a target="_blank" href="{{listings.img_hem3}}">
		<img src="{{listings.img_hem3}}" alt="{{listings.hem3}}" width="100%">
		</a>
		<p><em>{{listings.hem3}}</em></p>
		</article>
      
		</div>
		
		<div class="col-sm-6">
	  
		<article>
		<a target="_blank" href="{{listings.img_hem4}}">
		<img src="{{listings.img_hem4}}" alt="{{listings.hem4}}" width="100%">
		</a>
		<p><em>{{listings.hem4}}</em></p>
		</article>
      
		</div>
		
    </div>
	 
	</div>

  </div>
</body>

</html>

